/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 */
@import "compass";
@import "base";
/*
 * Google Web Font
 */
@import url(http://fonts.googleapis.com/css?family=Alex+Brush);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
  font-family: 'Titillium Web', sans-serif;
  color: $txtgray;
  font-weight: 300;
  letter-spacing: .5px;
}

a {
  color: $selection;
  &:hover {
  	text-decoration: none;
  }
}

::-moz-selection {
  background: $selection;
  color: $white;
}
::selection {
  background: $selection;
  color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

/*
 * Header
 */

#page-wrapper {
  #header {
    border-bottom: 1px dashed $divider;
	margin-bottom: 50px;
	.brand-wrapper {
	  @include clearfix;
	  margin-left: 2em;
	  display: flex;
	  align-items: center;
	  #logo {
	    float: left;
		display: inline-block;
		}
	}
	#name-and-slogan {
	  padding: 7px 0 0 20px;
	  #site-slogan {
	    color: $txtgray;
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 18px;
	  }
	}
	#navigation {
	  padding-top: 25px;
	  margin-left: 0;
	  .section {
	    float: right;
		ul#main-menu,
		ul#secondary-menu {
		  li {
		    padding: 0;
			margin: 0;
		    a {
			  color: $txtgray;
			  text-decoration: none;
			  font-size: 12px;
			  letter-spacing: .5px;
			  &.active {
			    font-weight: bold;
				color: $selection;
			  }
			  &:hover{
			    color: $selection;
			  }
			}
			span.menu-divider {
     		  padding: 0 8px 0 10px;
			  color: $txtgray;
			}
			&.last {
			  span.menu-divider {
			    display: none;
			  }
			}	
		  }
		}
	  }
	}
	.region-header .form-search {
	  .input-append {
	    float: right;
		padding: 15px 0 15px 0;
	  }
	}
	h1#site-name {
	  line-height: 30px;
	  margin: 0;
	  padding: 0;
      a {
	    font-family: 'Alex Brush', cursive;
		font-weight: 400;
		color: $darkgray;
		&:hover {
		  color: $hovergray;
		  text-decoration: none;
		}
	  }
	}
  }
}
/* 
 * css for Links elements 
 */
 .links.inline {
 	li{
 		a{
 			text-transform: capitalize;
 		}
 	}
 }

/*
 * Comment for viewer 
 */
.comment-by-viewer {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
	.submitted {
		span {
			font-weight: 500;
			a {
				font-weight: normal;
			}
		}
	}
} 
/*
 * Main content
 */
#main-wrapper {
  .region-content {
    .node {
		  background: $white;
		  margin-bottom: 20px;
		  padding: 20px;
	  	@include box-shadow(#e2e2e2 2px 2px 10px);
	  	.content-wrapper {
	    	@include clearfix;
				h2 {
				  padding: 0 0 20px 0;
				  margin: 0 0 25px 0;
				  border-bottom: 1px dashed $lightgray;
				  a {
						color: $darkgray;
						text-decoration: none;
			  	}
	    	}
	  	}
	    .field-name-field-image {
		    float: left;
				padding: 0 20px 0 0;
		  }
	   	.meta-wrapper {
				@include clearfix;
				font-family: 'Lato', sans-serif;
				font-weight: 400;
				margin-top: 25px;
				padding-top: 20px;
				border-top: 1px dashed $lightgray;
			  .date {
					float: left;
					padding: 0 10px 0 0;
			  }
			  .meta {
					float: left;
					ul {
			   	  padding: 0;
				  	margin: 0;
				  	@include clearfix;
	  			  li {
				    	list-style-type: none;
							float: left;
							padding: 0 10px 0 0;
							i {
						  	padding: 0 5px 0 0;
							}
							&.tags {
						  	a {
						    	padding: 0 5px 0 0;
						  	}
					    }
			    	}
			  	}
      	}
	  	}
    }
  }
}
.section .title {
	margin-top: 0;
	line-height: 1;
	vertical-align: text-top;
}

/**
 * Side Bar
 */

#sidebar-first {
  #search-block-form {
    .btn {
      font-size: 16px;
    }
  }
  .block {
    border-bottom: 1px dashed $divider;
		h2 {
		  border-bottom: 1px dashed $lightgray;
		  padding: 10px 0 10px 0;
		  margin: 0 0 10px 0;
		}
  }
}
.sidebar .region-sidebar-first {
 	padding: 0 20px;
}

/**
 * Footer
 */

#footer {
  margin: 20px 0 20px 0;
  padding: 20px 0 0 0;
  border-top: 1px dashed $divider;
}
.copyright {
  border-top: 1px dashed $divider;
  margin: 20px 0 20px 0;
  padding: 20px 0 0 0;
}

/**
 * Misc
 */

.form-actions {
  background-color: transparent;
  .form-submit {
  	margin-right: 10px;
  }
}
#highlighted,
.region-help {
  background-color: $lightgray;
  border: 1px dashed $gray;
  margin-bottom: 15px;
  padding: 15px;
}
.search-form {
  .container-inline {
    padding: 10px 0 10px 0;
  }
  input[type="text"] {
    margin-bottom: 0;
  }
  .search-advanced {
    padding-bottom: 20px;
  }
}
ol.search-results {
  margin-left: 0;
  .search-snippet-info{
    padding-left: 0;
  }
}
.form-search .input-append .btn{
  height: 30px;	
}

/*
 * Social Block
 */
.social-block {
  @include clearfix;
  ul.social {
    float: right;
    list-style-type: none;
    padding: 0;
    @include clearfix;
    margin: 10px 0 0 0;				 
    li {
      float: left;
      width: 24px;
      padding: 0 0 0 8px;
      &:first-child {
        padding:0;
      } 
      a {
        display: block;
  	    width: 24px;
  	    height: 24px;
      }
    }
  }
}
